@import url("https://rsms.me/inter/inter-ui.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300");
@import url("https://rsms.me/inter/inter-ui.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300");
html {
  font-family: 'Inter UI', sans-serif; }

a.logo, a.blog {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  font-size: 0.8em;
  color: #3E3535;
  letter-spacing: 1.2px; }

a.blog {
  padding: 0px 7.5px 0px 7.5px; }

a.logo:hover, a.blog:hover, a.projects:hover {
  color: #FF3769;
  transition-duration: 0.2s; }

ul {
  font-size: 0.8em;
  list-style: none;
  padding: 0; }

b.info {
  font-weight: 400;
  font-size: 2.5em;
  color: #3E3535; }

p {
  font-size: 18px; }

a.elsewhere {
  font-size: 2em;
  font-family: 'Roboto Mono', monospace;
  list-style: none;
  padding-right: 0.2em;
  color: #0011FF;
  text-decoration: none; }

a.elsewhere:hover {
  color: #FF3769;
  transition-duration: 0.2s; }

a.project-list {
  font-family: 'Inter UI', sans-serif;
  font-size: 8em;
  text-decoration: none;
  font-weight: 100;
  color: #0011FF; }

a.project-list:hover {
  color: #FFFFFF;
  transition-duration: 0.2s; }

li.milya, li.swish {
  width: min-content; }

li.creditsuisse, li.posters {
  width: max-content; }

li.milya:hover ~ .bg {
  background: #422FFA; }

li.swish:hover ~ .bg {
  background: #FFBB41; }

li.creditsuisse:hover ~ .bg {
  background: #172F5B; }

li.posters:hover ~ .bg {
  background: #262626; }

li.milya:hover ~ li.swish,
li.milya:hover ~ li.creditsuisse,
li.milya:hover ~ li.posters {
  opacity: 0; }

li.swish:hover ~ li.milya,
li.swish:hover ~ li.creditsuisse,
li.swish:hover ~ li.posters {
  opacity: 0; }

li.creditsuisse:hover ~ li.milya,
li.creditsussie:hover ~ li.swish,
li.creditsuisse:hover ~ li.posters {
  opacity: 0; }

li.posters:hover ~ li.milya,
li.posters:hover ~ li.swish,
li.posters:hover ~ li.creditsuisse {
  opacity: 0; }

li.milya:hover ~ {
  opacity: 0; }

html {
  margin: 0;
  padding: 0; }

body {
  background: #F7F7F7; }

body.green {
  background-color: green; }

content {
  padding: 0;
  margin: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

article {
  padding: 0;
  width: 100%; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em; }
  nav aside.nav-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    nav aside.nav-left img.logo-img {
      width: 50%;
      height: 50%; }
    nav aside.nav-left a {
      margin: 0 0 0 0;
      padding: 0 0 0 0; }

ul.projects {
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

section.info {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 4em 0 4em 0;
  width: 100%;
  flex-direction: column; }

.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .25s;
  pointer-events: none; }

html {
  font-family: 'Inter UI', sans-serif; }

a.logo, a.blog {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  font-size: 0.8em;
  color: #3E3535;
  letter-spacing: 1.2px; }

a.blog {
  padding: 0px 7.5px 0px 7.5px; }

a.logo:hover, a.blog:hover, a.projects:hover {
  color: #FF3769;
  transition-duration: 0.2s; }

ul {
  font-size: 0.8em;
  list-style: none;
  padding: 0; }

b.info {
  font-weight: 400;
  font-size: 2.5em;
  color: #3E3535; }

p {
  font-size: 18px; }

a.elsewhere {
  font-size: 2em;
  font-family: 'Roboto Mono', monospace;
  list-style: none;
  padding-right: 0.2em;
  color: #0011FF;
  text-decoration: none; }

a.elsewhere:hover {
  color: #FF3769;
  transition-duration: 0.2s; }

a.project-list {
  font-family: 'Inter UI', sans-serif;
  font-size: 8em;
  text-decoration: none;
  font-weight: 100;
  color: #0011FF; }

a.project-list:hover {
  color: #FFFFFF;
  transition-duration: 0.2s; }

li.milya, li.swish {
  width: min-content; }

li.creditsuisse, li.posters {
  width: max-content; }

li.milya:hover ~ .bg {
  background: #422FFA; }

li.swish:hover ~ .bg {
  background: #FFBB41; }

li.creditsuisse:hover ~ .bg {
  background: #172F5B; }

li.posters:hover ~ .bg {
  background: #262626; }

li.milya:hover ~ li.swish,
li.milya:hover ~ li.creditsuisse,
li.milya:hover ~ li.posters {
  opacity: 0; }

li.swish:hover ~ li.milya,
li.swish:hover ~ li.creditsuisse,
li.swish:hover ~ li.posters {
  opacity: 0; }

li.creditsuisse:hover ~ li.milya,
li.creditsussie:hover ~ li.swish,
li.creditsuisse:hover ~ li.posters {
  opacity: 0; }

li.posters:hover ~ li.milya,
li.posters:hover ~ li.swish,
li.posters:hover ~ li.creditsuisse {
  opacity: 0; }

li.milya:hover ~ {
  opacity: 0; }

/*# sourceMappingURL=master.css.map */
