
//---Portfolio Colours---//

$background-grey:#F7F7F7;
$default-text:#232431;
$link-active:#0011FF;
$link-hover:#FF3769;
$white:#FFFFFF;
$place-holder: #EBEBEB;
$list-grey: #C3C3C3;

//----Project Colours---//

$milya:#422FFA;
$swish:#383838;
$posters:#F0F0F0;


//---Illustration Colours---//

$illustration-splash: #FBB932;
$illustration-pink: #FDE3E5;
$illustration-purple: #E3ECFD;
$illustration-navy: #080150;
$illustration-blue: #F2FAFF;
$illustration-salmon:#FDE9E9;
$password-blue: #1989F9;
