@import 'colours';
@import 'mixins';
@import 'typography';
@import 'projects';
@import 'layout';

//----- Illustrations Grid ---- //


section.illustration-splash{
margin: 7em 0 2em 0;
display: grid;
grid-template-columns: 3fr 1fr;
width: 100%;
@include for-tablet-portait-up{
  width: 95%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 100px);

}
.illustration-title{}
.illustration-summary{}
}

section.illustration-idtheft{
  padding-top: 2em;
  border-top: 2px solid $default-text;
  padding-top: 2em;
  margin: 1em 0 1em 0;
  width: 100%;
  height:900px;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 25px;
  @include for-tablet-portait-up{
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 500px repeat(2, 300px);
    height:1400px;
  }
  @include for-desktop{
    height:1000px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 500px 300px;
  }

    .illustration-overview{}
    .idtheft-1{
      background-color: $illustration-splash;
      grid-column: 2/4;
      @include for-tablet-portait-up{
        grid-column: 1/2;
      }
      @include for-desktop{
        grid-column: 1/3;
      }
    }
    .idtheft-2{
      background-color: $illustration-splash;
      grid-column: 2/3;
      @include for-tablet-portait-up{
        grid-column: 1/2;
      }
      @include for-desktop{
        grid-column: 1/2;
      }
    }
    .idtheft-3{
      background-color: $illustration-splash;
      grid-column: 3/3;
      @include for-tablet-portait-up{
        grid-column: 1/2;
      }
      @include for-desktop{
        grid-column: 2/3;
      }
    }
}


section.illustration-esports{
  padding-top: 2em;
  border-top: 2px solid $default-text;
  margin: 3em 0 1em 0;
  display: grid;
  height: 1400px;
  width:100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 120px repeat(2, 600px);
  grid-gap: 25px 25px;
  @include for-tablet-portait-up{
  width:95%;
  grid-template-columns: 1fr;
  grid-template-rows: 120px repeat(6, 400px);
  height:2000px;
  }
  @include for-desktop{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 120px repeat(3, 400px);
  height:1500px;
  }
  .illustration-overview{

    grid-column: 1/4;

    @include for-tablet-portait-up{
      grid-column: 1/2;
    }
    @include for-desktop{
      grid-column: 1/3;
    }
  }
  .esports-1{
    background-color: $illustration-navy;
  }
  .esports-2{
    background-color: $illustration-navy;
  }
  .esports-3{
    background-color: $illustration-navy;
  }
  .esports-4{
    background-color: $illustration-navy;
  }
  .esports-5{
    background-color: $illustration-navy;
  }
  .esports-6{
    background-color: $illustration-navy;
  }

}


section.illustration-legup{
  padding-top: 2em;
  border-top: 2px solid $default-text;
  margin: 3em 0 1em 0;
  display:grid;
  height:1000px;
  width:100%;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 800px;
  grid-row-gap: 25px;
  @include for-tablet-portait-up{
    width: 95%;
    grid-template-rows:120px 450px;
    height: 650px;
  }
  .illustration-overview{}
  .legup{
    background-color: $illustration-blue;
  }
}


section.illustration-editorial{
  padding-top: 2em;
  border-top: 2px solid $default-text;
  margin: 3em 0 1em 0;
  display:grid;
  height: 1000px;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 800px;
  grid-row-gap: 25px;
  @include for-tablet-portait-up{
    width: 95%;
    grid-template-rows:120px 450px;
    height: 650px;
  }

  .illustration-overview{}
  .editorial{
    background-color: $illustration-salmon;
  }
}


section.illustration-1password{
  padding-top: 2em;
  border-top: 2px solid $default-text;
  margin: 3em 0 1em 0;
  display:grid;
  height: 1400px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 120px repeat(2, 500px);
  grid-row-gap: 25px;
  grid-column-gap: 25px;
  @include for-tablet-portait-up{
    width: 95%;
    grid-template-columns:1fr;
    grid-template-rows: 120px repeat(4, 500px);
    height:2300px;

  }
  .illustration-overview{
    grid-column: 1/3;
    @include for-tablet-portait-up{
      grid-column: 1/2;
    }
  }
  .agile1{
    background-color:$password-blue;
    background-image: url('../img/illustrations/1pass1.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .agile2{
    background-color:$password-blue;
    background-image: url('../img/illustrations/1pass2.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .agile3{
    background-color:$password-blue;
    background-image: url('../img/illustrations/1pass3.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .agile4{
    background-color:$password-blue;
    background-image: url('../img/illustrations/1pass4.png');
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
  }

}


#idtheft1{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-image:url('../img/illustrations/idtheft1.png');
}
#idtheft1{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;
  background-image:url('../img/illustrations/idtheft2.png');
}
#idtheft3{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;
  background-image:url('../img/illustrations/idtheft3.png');
}
#esports1{
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size:60%;
  background-image:url('../img/illustrations/esports1.png');
}
#esports2{
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 70%;
  background-image:url('../img/illustrations/esports2.png');
}
#esports3{
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 70%;
  background-image:url('../img/illustrations/esports3.png');
}
#esports4{
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 70%;
  background-image:url('../img/illustrations/esports4.png');
}
#esports5{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image:url('../img/illustrations/esports5.png');
}
#esports6{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image:url('../img/illustrations/esports6.png');
}
#legup{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image:url('../img/illustrations/legup.png');
}
#editorial{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image:url('../img/illustrations/editorial.png');
}
#1pass1{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image:url('../img/illustrations/1pass1.png');
}
#1pass2{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image:url('../img/illustrations/1pass2.png');
}
#1pass3{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image:url('../img/illustrations/1pass3.png');
}
#1pass4{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image:url('../img/illustrations/1pass4.png');
}
