@import 'colours';
@import 'mixins';
@import 'typography';
@import 'projects';
@import 'layout';


section.info-splashbox{
  margin: 7em 0 1em 0;
  width: 100%;
  align-self: baseline;
  display:grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  //grid-template-rows: 500px;
  grid-gap:25px;
  @include for-tablet-portait-up{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }
  @include for-desktop{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }
  .info-title{
    grid-column-start: 1;
    grid-column-end: 4;
    @include for-tablet-portait-up{
      grid-column: 1/2;
    }
    @include for-desktop{
      grid-column: 1/2;
    }
    //border: 1px solid red;
  }
  .info-splash{
    background-color: $illustration-salmon;
    grid-column-start: 4;
    grid-column-end: 5;
    @include for-tablet-portait-up{
      grid-column: 1/2;
    }
    @include for-desktop{
      grid-column: 1/2;
    }
    //border: 1px solid red;
  }

}

section.bio{
  border-top: 2px solid $default-text;
  padding-top: 5em;
  margin: 7em 0 5em 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr repeat(4, 1fr);
  grid-template-rows: 300px 250px;
  grid-column-gap: 50px;
  @include for-desktop{
    grid-template-rows: 450px 250px;
  }
  @include for-tablet-portait-up{
    width: 95%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 300px 240px 400px;
  }
  .info-exp{
    @include for-tablet-portait-up{
      grid-column: 1/4;
    }
  }
  .info-exp2{
    @include for-tablet-portait-up{
      grid-column: 4/7;
    }
  }

  .info-paragraph{
    grid-column-start:3;
    grid-column-end: 7;
    @include for-tablet-portait-up{
      grid-column-start: 1;
      grid-column-end: 7;
    }
    //background-color: $illustration-salmon;
  }
  .info-tools{

    display: grid;
    grid-template: 1fr 6fr / repeat(6, 1fr);
    grid-column-start:3;
    grid-column-end: 5;
    grid-column-gap: 15px;
    @include for-phone-only{
    grid-template-columns: 1fr;
    }

    @include for-tablet-portait-up{
    grid-column: 1/4;
    }
    //background-color: $illustration-purple;
    .tools-title{
    grid-column: 1/7;
    @include for-phone-only{
    grid-column: 1/2;
    }
    //border: 1px solid blue;
    }
    .tools1{
      grid-column: 1/4;
      @include for-phone-only{
      grid-column: 1/2;
      }
      //border: 1px solid red;
      }
    .tools2{
      grid-column: 4/7;
      @include for-phone-only{
      grid-column: 1/2;
      }
      //border: 1px solid green;
      }
  }
  .info-expertise{
    display: grid;
    grid-template: 1fr 6fr/ 1fr;
    grid-column-start:5;
    grid-column-end: 7;
    //background-color: $illustration-salmon;
    @include for-tablet-portait-up{
      grid-column: 4/7;
    }
    .expertise-title{
      grid-column: 1/2;
      //border: 1px solid blue;
    }
    .expertise-box{}
  }

}

section.essentials{
  border-top: 2px solid $default-text;
  padding-top: 5em;
  margin: 7em 0 5em 0;
  width: 100%;
  display: grid;
  grid-template-columns:repeat(5, 1fr);
  grid-template-rows: 150px 800px 300px;
  grid-gap: 25px 25px;
.essentials-title{
  //background-color: $illustration-salmon;
  grid-column: 1/6;
}
.essentials-splash{
  background-image: url('../img/essentials.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $illustration-salmon;
  grid-column: 1/6;
  grid-row: 2/3;
}
.essentials-list{
  li{
    margin: 1em 0 1em 0;
  }
}
}
