@import "colours";
@import "typography";
@import "mixins";
//----------------------

html{
background: $background-grey;
margin: 0;
padding: 0;
}

content{
max-width: 1440px;
}

nav{
  //border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 1em 1em 1em;
}

article{
  margin: 1em 1em 1em 1em;
  display: flex;
}


section.info{
  //border: 1px solid red;
  display: flex;
  margin: 3.5em 1em 3.5em 1em;
  padding: 0;
  max-width: 670px;
  flex-direction: row;
}
