@import "colours";
@import "typography";
@import "mixins";
//----------------------


body > header {
  margin-top: 4.7em;
}

content{
  //border: 1px solid red;
  width: 1440px;
  max-width: 1440px;
  padding: 0;
  margin: 4em .5em 1em .5em;
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @include for-phone-only{
    max-width:100%;
  }
}

section.info{
  display: flex;
  width: 100%;
  margin: 4em 0 8em 0;
  padding: 4em 0 4em 0;
  max-width: 1200px;
  flex-direction: column;
  @include for-phone-only{
    margin: 0 0 4em 0;
    text-align: left;
  }
}

ul.projects{
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 532px;
}
