@import "colours";
@import "typography";
@import "mixins";
//----------------------

html{

margin: 0;
padding: 0;
}


body{
background: $background-grey;
}


body.green{
  background-color: green;
}

content{
  margin: 1em;
  display: flex;
  flex-direction: column;
  //border: 1px solid red;
}

article{
  //border: 1px solid blue;
  padding: 0;
}

nav{
  //width: 100%;
  //border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em ;

  aside.nav-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    img.logo-img{
      width: 50%;
      height: 50%;
    }
    a{
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    }
  }

}


ul.projects{
  list-style: none;
  display: flex;
  flex-direction: column;
}

section.info{
  //border: 1px solid red;
  display: flex;
  margin: 3.5em 1em 3.5em 1em;
  padding: 0;
  max-width: 670px;
  flex-direction: column;
}
