@import "layout";
@import "typography";
@import "colours";
@import "mixins";



section.milya-splash-box{
  margin: 7em 0 1em 0;
  width: 100%;
  height: 960px;
  display: grid;
  grid-template-columns: 2fr repeat(2, 350px);
  grid-column-gap: 25px;
  grid-template-rows: 160px 800px;
  @include for-tablet-portait-up{
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 100px) 400px;
  }
  .milya-title{}
  .milya-description{}
  .milya-splash{
    background-image: url('../img/milya/milya-splash.png');
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: $milya;
  }
}

section.milya-overview{
  margin: 3em 0 1em 0;
  width:100%;
  height:600px;
  display:grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: 1fr 1fr;
  grid-gap:25px;
  .milya-ov-title{}
  .milya-ov-para{}
}

section.milya-problem-d{
  height:420px;
}
section.milya-problem-s{
  height:280px;
}

section.milya-problem{
  padding-top: 1.5em;
  border-top: 1px solid $default-text;
  margin:3em 0 1em 0;
  width: 100%;
  display:grid;
  grid-column-gap:25px;
  grid-template-columns: 1fr repeat(2, 450px);
  .milya-title{}
  .milya-description{
    li{
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}

section.milya-product-map{
  margin: 3em 0 5em 0;
  border-top: 1px solid $default-text;
  width: 100%;
  height:975px;
  padding-top:1.5em;
  display:grid;
  grid-template-rows: 100px 800px;
  grid-row-gap:55px;
  .milya-title{}
  .milya-product-box{
    margin-bottom: 1em;
    background-image: url('../img/milya/milya-product-map.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}


section.milya-personas{
  padding-top: 1.5em;
  border-top: 1px solid $default-text;
  margin: 3em 0 1em 0;
  width: 100%;
  height:1800px;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px  repeat(3, 500px);
  grid-gap:35px;
  .milya-persona-title{
    grid-column-start:1;
    grid-column-end: 3;
  }
  .milya-persona-card{
    display:grid;
    grid-column-gap:25px;
    grid-row-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 2fr;
    padding: 2em;
    background-color: $white;
    z-index: -20;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);

    .milya-card-name{
      display:flex;
      flex-direction:row;
      justify-content: left;
      align-items: center;
      grid-column-start: 1;
      grid-column-end: 3;
      .persona-img{
        width:100px;
        height:100px;
      }
    #jessica{
      margin-right: 1em;
      height:100px;
      width: 100px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('../img/milya/personas/jessica.png');
    }
    #johncarlo{
      margin-right: 1em;
      height:100px;
      width: 100px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('../img/milya/personas/johncarlo.png');
    }
    #eric{
      margin-right: 1em;
      height:100px;
      width: 100px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('../img/milya/personas/eric.png');
    }
    #herman{
      margin-right: 1em;
      height:100px;
      width: 100px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('../img/milya/personas/herman.png');
    }
    #theressa{
      margin-right: 1em;
      height:100px;
      width: 100px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('../img/milya/personas/theressa.png');
    }

    }
    .milya-card-description{
      //border:1px solid red;
      li{
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }

  }

}

section.milya-flows{
  padding-top: 2em;
  display:grid;
  width: 100%;
  height:1750px;
  margin:3em 0 1em 0;
  border-top: 1px solid $default-text;
  grid-template-rows: 100px repeat(3, 500px);
  grid-template-columns: 1fr 3fr;
  grid-row-gap:25px;
  .milya-title{
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .milya-flow-card{
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    padding: 2em;
    background-color: $white;
    z-index: 20;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
  }
  #milya-flow1{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start:2;
    grid-column-end:5;
    background-image:url('../img/milya/milya-flow-1.png');
  }
  #milya-flow2{
    grid-column-start:2;
    grid-column-end:5;
    background-image:url('../img/milya/milya-flow-2.png');
  }
  #milya-flow3{
    grid-column-start:2;
    grid-column-end:5;
    background-image:url('../img/milya/milya-flow-3.png');
  }
}

section.milya-wireframes{
  padding-top: 2em;
  display:grid;
  width: 100%;
  height:3500px;
  margin:3em 0 1em 0;
  border-top: 1px solid $default-text;
  grid-template-rows:100px repeat(5, 600px);
  grid-row-gap: 35px;
  .milya-title{}
  .milya-wireframe-card{
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    padding: 2em;
    background-color: $white;
    z-index: -20;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
  }
  #milya-wireframe1{
    background-image:url('../img/milya/milya-wireframe1.png');
  }
  #milya-wireframe2{
    background-image:url('../img/milya/milya-wireframe2.png');
  }
  #milya-wireframe3{
    background-image:url('../img/milya/milya-wireframe3.png');
  }
  #milya-wireframe4{
    background-image:url('../img/milya/milya-wireframe4.png');
  }
  #milya-wireframe5{
    background-image:url('../img/milya/milya-wireframe5.png');
  }
}

section.milya-lowf{
  padding-top: 2em;
  display:grid;
  width: 100%;
  height:2200px;
  margin:3em 0 1em 0;
  border-top: 1px solid $default-text;
  grid-template-rows:100px repeat(5, 600px);
  grid-row-gap: 35px;
  .milya-title{}
  .milya-wireframe-card{
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    padding: 2em;
    background-color: $white;
    z-index: -20;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
  }
  #milya-lowf1{
  background-image:url('../img/milya/milya-lowf-screens.png');
  }
  #milya-lowf2{
  background-image:url('../img/milya/milya-lowf-screens2.png');
  }
  #milya-lowf3{
  background-image:url('../img/milya/milya-lowf-screens3.png');
  }
}

section.milya-onboarding{
  border-top: 1px solid $default-text;
  margin: 1em 0 3em 0;
  grid-column-gap: 35px;
  padding-top:1em;
  width: 100%;
  height:1500px;
  display: grid;
  grid-template-columns: repeat(3, 460px);
  grid-template-rows: 100px repeat(2, 680px);
  .milya-title{
    grid-column-start:1;
    grid-column-end:4;
  }
  .milya-signups{
    //border: 1px solid red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #milya-signup1{
    background-image: url('../img/milya/screens/milya-signup.png');
  }
  #milya-signup2{
    background-image: url('../img/milya/screens/milya-signup2.png');
  }
  #milya-signup3{
    background-image: url('../img/milya/screens/milya-signup3.png');
  }
  #milya-signup4{
    background-image: url('../img/milya/screens/milya-signup4.png');
  }
  #milya-signup5{
    background-image: url('../img/milya/screens/milya-signup5.png');
  }
}

section.milya-mainscreens{
  padding-top:1em;
  border-top: 1px solid $default-text;
  display: grid;
  width: 100%;
  grid-column-gap: 35px;
  height:1000px;
  grid-template-columns:repeat(3, 460px);
  grid-template-rows:100px 680px;
  .milya-title{
    grid-column-start:1;
    grid-column-end:4;
  }
  .milya-main{
    //border: 1px solid red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #milya-mainscreen1{
    background-image: url('../img/milya/screens/milya-moments.png');
  }
  #milya-mainscreen2{
    background-image: url('../img/milya/screens/milya-family.png');
  }
  #milya-mainscreen3{
    background-image: url('../img/milya/screens/milya-beacon.png');
  }
}



section.milya-messenger{
  border-top:1px solid $default-text;
  margin: 1em 0 3em 0;
  padding-top:1em;
  display:grid;
  width:100%;
  height:1500px;
  grid-column-gap:35px;
  grid-template-columns:repeat(3, 460px) ;
  grid-template-rows:100px repeat(2, 680px);
  .milya-title{
    grid-column-start:1;
    grid-column-end:4;
  }
    .milya-messenger-screens{
      //border: 1px solid red;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    #milya-messenger1{
      background-image: url('../img/milya/screens/milya-messenger1.png');
    }
    #milya-messenger2{
      background-image: url('../img/milya/screens/milya-messenger2.png');
    }
    #milya-messenger3{
      background-image: url('../img/milya/screens/milya-messenger3.png');
    }
    #milya-messenger4{
      background-image: url('../img/milya/screens/milya-messenger4.png');
    }
    #milya-messenger5{
      background-image: url('../img/milya/screens/milya-messenger5.png');
    }
}


section.milya-wallet{
  border-top: 1px solid $default-text;
  margin: 1em 0 3em 0;
  padding-top: 1em;
  display: grid;
  width: 100%;
  height:1500px;
  grid-column-gap: 35px;
  grid-template-columns:repeat(3, 460px);
  grid-template-rows:100px repeat(2, 680px);
  .milya-title{
    grid-column-start:1;
    grid-column-end:4;
  }
  .milya-wallet-screens{
    //border:1px solid red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #milya-wallet1{
    background-image: url('../img/milya/screens/milya-wallet-home.png');
  }
  #milya-wallet2{
    background-image: url('../img/milya/screens/milya-wallet-store.png');
  }
  #milya-wallet3{
    background-image: url('../img/milya/screens/milya-wallet1.png');
  }
  #milya-wallet4{
    background-image: url('../img/milya/screens/milya-wallet2.png');
  }
  #milya-wallet5{
    background-image: url('../img/milya/screens/milya-wallet3.png');
  }
  #milya-wallet6{
    background-image: url('../img/milya/screens/milya-wallet4.png');
  }
}
