@import 'colours';
@import 'mixins';
@import 'typography';

section.project-grid{
  margin-top: 4em;
  width: 1440px;
  max-width: 1440px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 65px;
  grid-column-gap: 30px;
  @include for-phone-only{
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    }
  @include for-tablet-portait-up{
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }
  @include for-tablet-landscape-up{
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }
}

.project-image{
  background-color: $place-holder;
  height: 350px;
  margin: 0;
  @include for-phone-only{
    height: 220px;
    }
}
.project-box{
  align-self: start;
  margin: 2em;
}
.project-info{
  max-width: 580px;
  margin: 1.5em 0 0 0;
  line-height: 22px;
}

#milya-background{
  background-image: url("/img/milya-placeholder.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#swish-background{
  background-image: url("/img/milya-placeholder.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#creditsuisse-background{
  background-image: url("/img/milya-placeholder.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#movingposters-background{
  background-image: url("/img/milya-placeholder.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#illustrations-background{
  background-image: url("/img/milya-placeholder.png");
  background-size: cover;
  background-repeat: no-repeat;
}
