@import "mixins";
@import "typography";
@import "colours";
@import "layout";
//------ Project Main Page ---//
section.grid {
  //border: 1px solid red;
  //padding: 1em 1em 1em 1em;
  margin-bottom: 7em;
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1440px;
  @include for-phone-only {
    justify-content: center;
  }
  @include for-tablet-portait-up {
    justify-content: space-around;
  }
  @include for-tablet-landscape-up {
    justify-content: space-around;
  }
  @include for-desktop {
    justify-content: space-around;
  }

  aside.project {
    //border: 1px solid red;
    padding: 0 30px;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    min-height: 420px;
    min-width: 640px;
    @include for-phone-only {
      min-width: 320px;
      justify-content: flex-start;
    }
    @include for-tablet-portait-up {
      justify-content: flex-start;
      min-width: 500px;
      margin: 2em 10px;
      padding: 0;
    }
  }

  #swish-background {
    background-image: url("../img/placeholder.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  #milya-background {
    background-size: contain;
    background-repeat: no-repeat;
  }
  #creditsuisse-background{
    background-size: contain;
    background-repeat: no-repeat;
  }

  #movingposters-background {
    background-size: contain;
    background-repeat: no-repeat;
  }


  .project-image {
    //border: 1px solid red;
    padding: 0;
    margin: 0;
    min-width: 640px;
    min-height: 300px;
    @include for-phone-only {
      min-width: 320px;
      min-height: 200px;
    }
    @include for-tablet-portait-up {
      min-width: 500px;
      //margin: 2em 10px;
      padding: 0;
    }
  }

  article.project-description {
    margin-top: 20px;
    caption {
      margin: 0;
      font-size: 12px;
      font-weight: normal;
    }
    h2 {
      margin: 0;
      font-size: 22px;
      font-weight: bolder;
    }
    p {
      font-size: 18px;
      margin: 0;
      font-weight: lighter;
    }
  }
}

.swish-grid{
  //border: 1px solid red;
  min-height: 2000px;
}
