@import 'colours';
@import 'mixins';
@import 'typography';
@import 'projects';
@import 'layout';

section.swish-splashbox{
  margin: 7em 0 1em 0;
  width: 100%;
  align-self: baseline;
  display:grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 175px 800px;
    .swish-title{
    //background-color: $link-active;
    }
    .swish-challenge{
    //background-color: $link-hover;
    }
    .swish-solution{
    //background-color: $illustration-salmon;
    }
    .swish-title-splash{
      //background-color: $illustration-purple;
      grid-column-start: 1;
      grid-column-end: 5;
    }
}
section.swish-introduction{
  margin: 3em 0 1em 0;
  display:grid;
  height:1000px;
  width: 100%;
  grid-template-rows: 2fr 3fr;
  grid-template-columns: 3fr 4fr;
  .swish-overview-title{
    padding-top: 1em;
    border-top: 2px solid $default-text;
    //background-color: $link-active;
  }
  .swish-inspiration-title{
    padding-top: 1em;
    border-top: 2px solid $default-text;
    //background-color: $link-hover;
  }
  .swish-overview-para{
    padding-top: 1em;
    border-top: 2px solid $default-text;
    //background-color: $illustration-salmon;
  }
  .swish-inspiration-para{
    padding-top: 1em;
    border-top: 2px solid $default-text;
    //background-color: $illustration-purple;
  }
}
section.swish-process{
    padding-top: 1em;
    border-top: 2px solid $default-text;
    margin: 1em 0 1em 0;
    display:grid;
    width: 100%;
    height: 1400px;
    grid-column-gap:25px;
    grid-row-gap:50px;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 125px repeat(3, 1fr);

  .process-title{
    //background-color: $link-active;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .swish-process-box{
      //border: 1px solid red;
      //background-color: $link-active;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    aside.swish-process1{
      margin-bottom: 1em;
      width: 100%;
      height: 400px;
      background-color: $default-text;
    }
  }
}


section.swish-personas{
    padding-top: 1em;
    border-top: 2px solid $default-text;
    margin: 1em 0 1em 0;
    display:grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 600px;
    grid-column-gap: 25px;
  aside.swish-persona-box{
    margin-bottom: 1em;
    width: 100%;
    height: 400px;
    background-color: $default-text;
  }
}

section.swish-userflows{
    padding-top: 1em;
    border-top: 2px solid $default-text;
    margin: 1em 0 1em 0;
    display:grid;
    width: 100%;
    height:1200px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap:25px;


  .swish-userflow-box{
    grid-column-start: 2;
    grid-column-end: 3;
    //height:400px;
    background-color: $default-text;

  }
}

section.swish-sketches{
    padding-top: 1em;
    padding-bottom: 2em;
    border-top: 2px solid $default-text;
    border-bottom:2px solid $default-text;
    margin: 1em 0 2em 0;
    display:grid;
    width: 100%;
    height: 800px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap:25px;


  .swish-sketch-title{
    grid-row-start:1;
    grid-row-end:3;

  }
  .swish-sketch-box{
   background-color: $default-text;
  }
}


section.swish-mobile{
  padding-top:1em;
  margin: 0em 0 1em 0;
  display:grid;
  width: 100%;
  height:800px;
  //background-color: $default-text;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas:
  "swish_screen1 swish_wishlist swish_delivery"
  ;
  grid-template-rows: 600px;
  align-self: center;
}


section.swish-br-box{
  border-top: 2px solid $default-text;
  padding-top:1em;
  margin: 0 0 1em 0;
  display:grid;
  width: 100%;
  height:2000px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px repeat(4, 500px);
  grid-gap: 25px 25px;



  .swish-browser-title{
    grid-column-start: 1;
    grid-column-end: 3;

  }
  .swish-browser1{
    background-color: $default-text;
  }
  .swish-browser2{}
  .swish-browser3{}
  .swish-browser4{}
  .swish-browser5{}
  .swish-browser6{}
}

//--- Backgrounds & Images ----///

.swish-splash{
  background-image:url(../img/swish/swish-splash.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swish-screen1{
  grid-area:swish_screen1;
  background-image:url(../img/swish/swish-screen1.png);
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  //background-color: $background-grey;
}
.swish-wishlist{
  grid-area:swish_wishlist;
  background-image:url(../img/swish/swish-wishlist.png);
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  //background-color: $background-grey;
}
.swish-delivery{
  grid-area:swish_delivery;
  background-image:url(../img/swish/swish-delivery.png);
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  //background-color: $background-grey;
}
