@import 'colours';
@import 'mixins';
@import 'typography';
@import 'projects';
@import 'layout';

section.swish-splashbox{
  margin: 7em 0 1em 0;
  width: 100%;
  align-self: baseline;
  display:grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 175px 800px;
  @include for-tablet-portait-up{
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-rows: 175px repeat(2, 120px) 300px;
  }

    .swish-title{
    //background-color: $link-active;
    }
    .swish-challenge{
    //background-color: $link-hover;
    }
    .swish-solution{
    //background-color: $illustration-salmon;
    }
    .swish-title-splash{
      //background-color: $illustration-purple;
      grid-column-start: 1;
      grid-column-end: 5;
      @include for-tablet-portait-up{
        grid-column-start: 1;
        grid-column-end: 2;
      }
    }
}
section.swish-introduction{
  margin: 3em 0 1em 0;
  display:grid;
  height:1000px;
  width: 100%;
  grid-template-rows: 2fr 3fr;
  grid-template-columns: 3fr 4fr;
  @include for-tablet-portait-up{
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-rows: 160px repeat(2 300px);
  }

  .swish-overview-title{
    padding-top: 1em;
    border-top: 1px solid $default-text;
    @include for-tablet-portait-up{
      border: none;
    }
    //background-color: $link-active;
  }
  .swish-inspiration-title{
    padding-top: 1em;
    border-top: 1px solid $default-text;
    //background-color: $link-hover;
    @include for-tablet-portait-up{
      border: none;
    }
  }
  .swish-overview-para{
    padding-top: 1em;
    border-top: 1px solid $default-text;
    @include for-tablet-portait-up{
      border: none;
    }
    //background-color: $illustration-salmon;
  }
  .swish-inspiration-para{
    padding-top: 1em;
    border-top: 1px solid $default-text;
    @include for-tablet-portait-up{
      border: none;
    }
    //background-color: $illustration-purple;
  }
}
section.swish-process{
    padding-top: 1em;
    border-top: 1px solid $default-text;
    margin: 1em 0 1em 0;
    display:grid;
    width: 100%;
    height: 1400px;
    grid-column-gap:25px;
    grid-row-gap:50px;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 125px repeat(3, 1fr);
    @include for-phone-only{
    grid-template-rows: 160px repeat(6, 600px);
    }
    @include for-tablet-portait-up{
    width: 95%;
    height: 3900px;
    grid-template-columns: 1fr;
    grid-template-rows: 160px repeat(6, 580px);
    grid-row-gap:25px;
    }
  .process-title{
    //background-color: $link-active;
    grid-column-start: 1;
    grid-column-end: 4;
    @include for-tablet-portait-up{
      grid-column-start: 1;
      grid-column-end:2;
    }
  }
  .swish-process-box{
      //border: 1px solid red;
      //background-color: $link-active;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    aside.swish-process1{
      margin-bottom: 1em;
      width: 100%;
      height: 400px;
      background-color: $default-text;
    }
  }
}


// section.swish-personas{
//     padding-top: 1em;
//     border-top: 1px solid $default-text;
//     margin: 1em 0 1em 0;
//     display:grid;
//     width: 100%;
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: 600px;
//     grid-column-gap: 25px;
//     @include for-tablet-portait-up{
//       width: 95%;
//       grid-template-columns: 1fr;
//       grid-template-rows: 160px repeat(2, 600px);
//       grid-row-gap:25px;
//     }
//   aside.swish-persona-box{
//     margin-bottom: 1em;
//     width: 100%;
//     height: 400px;
//     background-color: $default-text;
//   }
// }


section.swish-persona{
  padding-top: 1em;
  border-top: 1px solid $default-text;
  margin: 1em 0 1em 0;
  display:grid;
  width: 100%;
  height:625px;
  grid-template-columns: 2fr repeat(2,1.9fr);
  grid-template-rows: 625px;
  grid-column-gap: 25px;
  .swish-title{
    grid-column-start: 1;
    grid-column-end:2;
  }
  .swish-persona-box{
    display:flex;
    flex-direction: column;
    background-color: $white;
    z-index: 20;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    .swish-persona-image{
      height:400px;
      width: 100%;
      //border:1px solid red;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .swish-persona-description{
      //border:1px solid blue;
      width:100%;
      height:70%;
      padding: 1em 1.5em 1em 1.5em;
      li{
        margin: 0.5em 0.5em 0;
      }
    }
  }
}

section.swish-userflows{
    padding-top: 1em;
    border-top: 1px solid $default-text;
    margin: 1em 0 1em 0;
    display:grid;
    width: 100%;
    height:1200px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap:25px;
    @include for-tablet-portait-up{
      width: 95%;
      grid-template-columns: 1fr;
      grid-template-rows: 140px repeat(2, 425px);
    }


  .swish-userflow-box{
    grid-column-start: 2;
    grid-column-end: 3;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $default-text;
    @include for-tablet-portait-up{
      grid-column: 1/2;
    }
  }
}


section.swish-product-map{
  padding-top:1em;
  display: grid;
  border-top: 1px solid $default-text;
  margin: 1em 0 3em 0;
  width:100%;
  height: 925px;
  grid-template-columns: 1fr;
  grid-row-gap:25px;
  grid-template-rows: 100px 800px;
  .swish-title{
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .swish-product-box{
    //border:1px solid red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

section.swish-sketches{
    padding-top: 1em;
    padding-bottom: 2em;
    border-top: 1px solid $default-text;
    //border-bottom:2px solid $default-text;
    margin: 1em 0 2em 0;
    display:grid;
    width: 100%;
    height: 800px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap:25px;

    @include for-tablet-portait-up{
      width:95%;
      height:2000px;
      grid-template-columns:1fr;
      grid-template-rows: 150px repeat(4, 400px);
    }

  .swish-sketch-title{
    grid-row-start:1;
    grid-row-end:3;
    @include for-tablet-portait-up{
      grid-row:1/2;
    }

  }
  .swish-sketch-box{
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $default-text;
  }
}

//
// section.swish-mobile{
//   padding-top:1em;
//   margin: 0em 0 1em 0;
//   display:grid;
//   width: 100%;
//   height:800px;
//   //background-color: $default-text;
//   grid-template-columns: repeat(3, 1fr);
//   grid-template-rows: 1fr;
//   grid-template-areas:
//   "swish_screen1 swish_wishlist swish_delivery";
//   grid-template-rows: 600px;
//   align-self: center;
//
// }


section.swish-br-box{
  border-top: 1px solid $default-text;
  padding-top:1em;
  margin: 0 0 1em 0;
  display:grid;
  width: 100%;
  height:2500px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px repeat(4, 500px);
  grid-gap: 25px 25px;
  @include for-tablet-portait-up{
    width: 95%;
    height:1500px;
    grid-template-rows: 160px repeat(4, 350px);
  }
  @include for-phone-only{
    width: 90%;
    height:2100px;
    grid-template-columns: 1fr;
    grid-template-rows: 160px repeat(7, 300px);
  }
  .swish-browser-title{
    grid-column-start: 1;
    grid-column-end: 3;
    @include for-phone-only{
      grid-column-start: 1;
      grid-column-end: 2;
    }

  }
  .swish-browser{
    background-position: center;
    background-size: 78%;
    background-repeat: no-repeat;
    background-color: $default-text;
  }
}


section.swish-prototypes{
  margin: 1em 0 3em 0;
  padding-top: 2em;
  border-top: 1px solid $default-text;
  display:grid;
  width:100%;
  height:2500px;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px repeat(3, 700px);
  .swish-title{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .swish-prototype-box{
    background-color: $black;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

 //--- Backgrounds & Images ----///
.swish-splash{
background-image:url(../img/swish/swish-splash.jpg);
background-size:cover;
 background-position: center;
  background-repeat: no-repeat;
}
// .swish-screen1{
//   grid-area:swish_screen1;
//   background-image:url(../img/swish/swish-screen1.png);
//   background-size:contain;
//   background-position: center;
//   background-repeat: no-repeat;
//   //background-color: $background-grey;
// }
// .swish-wishlist{
//   grid-area:swish_wishlist;
//   background-image:url(../img/swish/swish-wishlist.png);
//   background-size:contain;
//   background-position: center;
//   background-repeat: no-repeat;
//   //background-color: $background-grey;
// }
// .swish-delivery{
//   grid-area:swish_delivery;
//   background-image:url(../img/swish/swish-delivery.png);
//   background-size:contain;
//   background-position: center;
//   background-repeat: no-repeat;
//   //background-color: $background-grey;
// }


.swish-mobile-card{
  //border:1px solid red;
  background-size:42%;
  background-position-y: 75%;
  background-position-x:center;
  background-repeat: no-repeat;
}

section.mobile-onboard{
    height:1540px;
    width:100%;
    padding-top:2em;
    border-top:1px solid $default-text;
    margin:1em 0 3em 0;
    display:grid;
    grid-gap:25px;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:100px repeat(2, 1fr);
    .swish-title{
      grid-column-start:1;
      grid-column-end: 3;
    }
}
section.mobile-orders{
    height:1500px;
    width:100%;
    padding-top:2em;
    border-top:1px solid $default-text;
    margin:1em 0 3em 0;
    grid-gap:25px;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:100px repeat(2, 1fr);
    .swish-title{
      grid-column-start:1;
      grid-column-end: 3;
    }
}
section.mobile-wishlist{
    height:1500px;
    width:100%;
    padding-top:2em;
    border-top:1px solid $default-text;
    margin:1em 0 3em 0;
    grid-gap:25px;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:100px repeat(2, 1fr);
    .swish-title{
      grid-column-start:1;
      grid-column-end: 3;
    }
}
section.mobile-notification{
    height:1500px;
    width:100%;
    padding-top:2em;
    border-top:1px solid $default-text;
    margin:1em 0 3em 0;
    grid-gap:25px;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:100px repeat(2, 1fr);
    .swish-title{
      grid-column-start:1;
      grid-column-end: 3;
    }
}
section.mobile-cart{
    height:2000px;
    width:100%;
    padding-top:2em;
    border-top:1px solid $default-text;
    margin:1em 0 3em 0;
    display:grid;
    grid-gap:25px;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:100px repeat(3, 1fr);
    .swish-title{
      grid-column-start:1;
      grid-column-end: 3;
    }
}


//--Splashbox---//
#swish-splash{
  background-image: url('../img/swish/swish-splash.jpg');
}


//---Personas---//
#persona-david{
  background-image: url('../img/swish/persona-david.png');
}
#persona-crystal{
  background-image:url('../img/swish/persona-crystal.png');
}

//--Product Map --//
#swish-product-map{
  background-image:url('../img/swish/swish-product-map.png');
}

//---Mobile---//
#swish-mobile-onboard1{
  background-image: url('../img/swish/mobile/swish-onboard1.png');
}
#swish-mobile-onboard2{
  background-image: url('../img/swish/mobile/swish-onboard2.png');
}
#swish-mobile-onboard3{
  background-image: url('../img/swish/mobile/swish-onboard3.png');
}
#swish-mobile-onboard4{
  background-image: url('../img/swish/mobile/swish-onboard4.png');
}

#swish-mobile-profile{
  background-image: url('../img/swish/mobile/swish-profile.png');
}
#swish-mobile-order1{
  background-image: url('../img/swish/mobile/swish-order1.png');
}
#swish-mobile-order2{
  background-image: url('../img/swish/mobile/swish-order2.png');
}
#swish-mobile-order3{
  background-image: url('../img/swish/mobile/swish-order3.png');
}

#swish-mobile-wishlist1{
  background-image: url('../img/swish/mobile/swish-wishlist1.png');
}
#swish-mobile-wishlist2{
  background-image: url('../img/swish/mobile/swish-wishlist2.png');
}
#swish-mobile-wishlist3{
  background-image: url('../img/swish/mobile/swish-wishlist3.png');
}
#swish-mobile-wishlist4{
  background-image: url('../img/swish/mobile/swish-wishlist4.png');
}

#swish-mobile-notification1{
  background-image: url('../img/swish/mobile/swish-notification1.png');
}
#swish-mobile-notification2{
  background-image: url('../img/swish/mobile/swish-notification2.png');
}
#swish-mobile-notification3{
  background-image: url('../img/swish/mobile/swish-notification3.png');
}
#swish-mobile-notification4{
  background-image: url('../img/swish/mobile/swish-notification4.png');
}

#swish-mobile-cart1{
  background-image: url('../img/swish/mobile/swish-cart1.png');
}
#swish-mobile-cart2{
  background-image: url('../img/swish/mobile/swish-cart2.png');
}
#swish-mobile-cart3{
  background-image: url('../img/swish/mobile/swish-cart3.png');
}
#swish-mobile-cart4{
  background-image: url('../img/swish/mobile/swish-cart4.png');
}
#swish-mobile-cart5{
  background-image: url('../img/swish/mobile/swish-cart5.png');
}
#swish-mobile-cart6{
  background-image: url('../img/swish/mobile/swish-cart6.png');
}

//---Brwosers---//
#browser-cart{
  background-image: url('../img/swish/browser/swish-browser-cart.png');
}
#browser-delivery{
  background-image: url('../img/swish/browser/swish-browser-delivery.png');
}
#browser-item{
  background-image: url('../img/swish/browser/swish-browser-item.png');
}
#browser-notifications{
  background-image: url('../img/swish/browser/swish-browser-notifications.png');
}
#browser-orders{
  background-image: url('../img/swish/browser/swish-browser-orders.png');
}
#browser-profile{
  background-image: url('../img/swish/browser/swish-browser-profile.png');
}
#browser-sneakers{
  background-image: url('../img/swish/browser/swish-browser-sneakers.png');
}
#browser-wishlist{
  background-image: url('../img/swish/browser/swish-browser-wishlist.png');
}

//---User-Scenarios---//
#swish-us1{
  background-image:url('../img/swish/swish-us1.png');
}
#swish-us2{
  background-image:url('../img/swish/swish-us2.png');
}
//---Swish Sketches---//
#swish-sketch1{
  background-image: url('../img/swish/swish-sketch1.png');
}
#swish-sketch2{
  background-image: url('../img/swish/swish-sketch2.png');
}
#swish-sketch3{
  background-image: url('../img/swish/swish-sketch3.png');
}
#swish-sketch4{
  background-image: url('../img/swish/swish-sketch4.png');
}
