@import "colours";
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url("https://rsms.me/inter/inter-ui.css");
@font-face {
  font-family:"Canela Light";
  src:url(../fonts/Canela-Light.woff);
}
//------Headers------//
h1,
h2,
h3,
h5 {
  font-family: 'Canela-Light',serif;
//font-family: 'EB Garamond', serif;
  color: $text-grey;
  font-weight: lighter;
  margin: 5px 0 5px 0;
}

h1 {
  font-size: 60px;
  @include for-tablet-portait-up{
    font-size: 45px;
  }
  @include for-phone-only{
    font-size: 30px;
  }

}

h2 {
  font-size: 50px;
  @include for-tablet-portait-up{
    font-size: 35px;
  }
  @include for-phone-only{
    font-size: 25px;
  }
}

h3 {
  font-size: 23px;
}
h4{
  font-family: 'Inter UI', sans-serif;
  color: $caption-grey;
  font-weight: lighter;
  margin: 0;
  font-size: 14px;
  @include for-phone-only{
    font-size: 12px;
    line-height: 14px;
  }
}

h5{
  font-size: 14px;
  color:$caption-grey;
}

h6{
  font-family: 'Inter UI', sans-serif;
  font-size: 50px;
}
blockquote{
  font-family: 'Inter UI', sans-serif;
  font-size: 18px;
  color:$white;
  margin: 14px 0px 0px 0px;
  @include for-phone-only{
    font-size: 25px;
  }
}

.contact-text{
  color: $white;
  margin-bottom: 10px;
}



//---Links---//
a{
  font-family: 'Inter UI', sans-serif;
  color: $text-grey;
  text-decoration: none;
  font-size: 12px;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
}

a:hover{
  font-weight: bold;
  font-size: 12.3px;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
}

//---Navigation Links---//

a.nav-links {
  font-size: 12px;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
}

a.nav-links:visited {
  color: $text-grey;
}

a.nav-links:hover {
  color: $text-grey;
  font-weight: bold;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
}

//---Footer Links---//
.footer-link{
  font-family: 'Inter Ui', sans-serif;
  font-size: 22px;
  color:$white;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
}


//---List---//
ul{
  text-decoration: none;
  padding: 0;
  margin: 5px 0 15px 0px;
  @include for-phone-only{
    font-size: 14px;
    line-height: 18px;
  }
}
li{
  text-decoration: none;
  list-style: none;
  font-size: 12px;
  line-height: 14px;
  a.footerlink{
    color:$white;
  }
  @include for-phone-only{
    font-size: 14px;
    line-height: 19px;
  }
}


//---Paragraphs & Captions---//
p {
  font-family: 'Inter UI', sans-serif;
  color: $text-grey;
  line-height: 22px;
  font-size: 16px;
  font-weight: lighter;
  margin: 10px 0 20px 0;
  @include for-phone-only{
    font-size: 14px;
    line-height: 18px;
    }
  }
