@import url("https://rsms.me/inter/inter-ui.css");
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');
@import "colours";
@import "mixins";

html{
font-family: 'Inter UI', sans-serif;
}
//---Portfolio---//
a.logo, a.blog{
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  font-size: 0.8em;
  color:$default-text;
  letter-spacing: 1.2px;
}

a.blog{
  padding: 0px 7.5px 0px 7.5px;
}
a.logo:hover, a.blog:hover, a.projects:hover{
  color:$link-hover;
  transition-duration: 0.2s;
}

ul{
  font-size: 0.8em;
  list-style: none;
  padding: 0;
}

b.info{
  width: 80%;
  font-weight: 400;
  font-size:2.5em;
  color:$default-text;
  @include for-phone-only{
    font-size: 1.5em;
    width: 100%;
  }
}

p{
  font-size: 18px;
}

a.elsewhere{
  font-size: 1em;
  font-family: 'Roboto Mono', monospace;
  list-style: none;
  padding-right: 0.2em;
  color: $link-active;
  text-decoration:none;}
a.elsewhere:hover{
  color:$link-hover;
  transition-duration: 0.2s;
}



//---Project Lists---//
a.project-list{
  font-family: 'Inter UI', sans-serif;
  font-size: 8em;
  text-decoration: none;
  font-weight: 100;
  color:$link-active;
  @include for-phone-only{
    font-size: 3em;
  }
}
a.project-list:hover{
color: $white;
 transition-duration: 0.2s;
}


li.milya, li.swish{
  width: min-content;
}
li.creditsuisse, li.posters{
  width: max-content;
}

//--Project Transitions--//
li.milya:hover ~.bg{
  background: $milya;
}
li.swish:hover ~.bg{
  background: $swish;
}
li.creditsuisse:hover ~.bg{
  background: $creditsuisse;
}
li.posters:hover ~.bg{
  background: $posters;
}


li.milya:hover ~ li.swish,
li.milya:hover ~ li.creditsuisse,
li.milya:hover ~ li.posters{
  opacity: 0;
}
li.swish:hover ~ li.milya,
li.swish:hover ~ li.creditsuisse,
li.swish:hover ~ li.posters{
  opacity: 0;
}
li.creditsuisse:hover ~ li.milya,
li.creditsussie:hover ~ li.swish,
li.creditsuisse:hover ~ li.posters{
  opacity: 0;
}
li.posters:hover ~ li.milya,
li.posters:hover ~ li.swish,
li.posters:hover ~ li.creditsuisse{
  opacity: 0;
}

li.posters:hover + li.milya{
  opacity: 0;
}
