@import url("https://rsms.me/inter/inter-ui.css");
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');
@import "colours";
@import "mixins";


body{
font-family: 'Inter UI', sans-serif;
}

a.logo, a.blog{
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  font-size: 0.8em;
  color:$default-text;
  letter-spacing: 1.2px;
}

a.blog{
  padding: 0px 7.5px 0px 7.5px;
}
a.logo:hover, a.blog:hover, a.projects:hover{
  color:$link-hover;
  transition-duration: 0.2s;
}

ul{
  font-size: 1em;
  list-style: none;
  padding: 0;
}

b.info{
  width: 80%;
  font-weight: 400;
  font-size:2.5em;
  color:$default-text;
  @include for-phone-only{
    font-size: 1.6em;
    width: 100%;
  }
}

p{
  font-size: 18px;
}

a.elsewhere{
  font-size: 1em;
  font-family: 'Roboto Mono', monospace;
  list-style: none;
  padding-right: 0.2em;
  color: $default-text;
  text-decoration:none;}
a.elsewhere:hover{
  color:$link-hover;
  transition-duration: 0.2s;
}

blockquote.attention{
  font-size: 2.5em;
  color: $link-hover;
  padding: 0;
  margin: 0;
  @include for-phone-only{
    font-size: 1.6em;
  }
}
