@import "layout";
@import "typography";
@import "mixins";
@import "projectstyle";

html {
  background-color: $background;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  flex-wrap: wrap;
  flex-direction: row;
}

content {
  max-width: 1080px;
  width: 100%;
  padding: 0;
  margin: 4em 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //border:1px solid green;
  @include for-phone-only {
    width: 95%;
  }
}

section {
  width: 100%;
  display: grid;
}

nav {
  background-color: $background;
  top: 0;
  width: 100%;
  height: 45px;
  display: flex;
  position: fixed;
  z-index: 999;
  align-items: center;
  float: left;
  justify-content: space-between;

  aside.leftnav {
    margin-left: 0.8em;
  }

  aside.rightnav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 0.8em;

    .nav-right1 {
      grid-column: 1/2;
    }

    .nav-right2 {
      grid-column: 2/3;
    }
  }
}

footer {
  background-color: $black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  section.footer-box{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 250px;
    border-top: 0.5px dotted $white;
    @include for-phone-only{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5,1fr);
    }
    aside.footnote,aside.footcontact,aside.elsewhere,aside.credit{
      color:$white;
      @include for-phone-only{
      text-align: left;
      grid-column: 1/3;
      }
    }
    aside.footnote{
      grid-column: 1/3;
      grid-row:1/2;
      @include for-phone-only{
        grid-row: 1/3;
        grid-column: 1/3;
      }
    }
    aside.footcontact{
      grid-column: 3/4;
      text-align: right;
      grid-row:1/2;
      @include for-phone-only{
        grid-row: 3/4;
        grid-column: 1/3;
        text-align: left;

      }
    }
    aside.elsewhere{
      grid-column: 4/5;
      text-align: right;
      grid-row:1/2;
      @include for-phone-only{
        grid-row: 4/5;
        grid-column: 1/3;
        text-align: left;
      }
    }
    aside.credit{
      grid-column: 5/6;
      text-align: right;
      grid-row:1/2;
      @include for-phone-only{
        grid-row: 5/6;
        grid-column: 1/3;
        text-align: left;
      }
    }
  }

}

button.home {
  width: 65%;
  height: 50px;
  background-color: $background;
  border: 0.5px solid $text-grey;
  color: $text-grey;
  padding: 18px 44px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  cursor: pointer;
  @include for-tablet-portait-up{
  width: 100%;
  }
  @include for-tablet-landscape-up{
  width: 100%;
  }
}

button:hover {
  background-color: $text-grey;
  color: $background;
  cursor: pointer;
}

button.smallb {
  width: 165px;
  height: 40px;
  background-color: $background;
  border: 0.5px solid $text-grey;
  color: $text-grey;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  cursor: pointer;
}

button.smallb:hover {
  background-color: $text-grey;
  color: $background;
  cursor: pointer;
}

.scroll-to-top-link{
  cursor: pointer;
  display: block;
  position:fixed;
  bottom:25px;
  right: 25px;
  z-index: 1;
  width: 23px;
  height: 92px;
@include for-phone-only{
  display: none;
}
@include for-tablet-portait-up{
  display: none;
}
@include for-hd-desktop{
  display:block;
}
}
